<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andrew.selfserviceprototype">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MerchantListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.OrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Utils.BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ConfirmOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.OrderTypeActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>